.build
.DS_Store
.dawn-artifact-headers
.dawn-artifact-lib
Sources/CDawn/include/dawn
.vscode/settings.json
.vs/
webgpu_dawn.xcframework
Dawn/builds
Dawn/dist
Dawn/dawn_source
Dawn/dawn_version.json
__pycache__
.venv
BindingsDebug
.venv/
